@import "../scss/mixins/shadow";
@import "src/scss/color";

.profile {
  margin-top: 50px;

  &-avatar {
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    max-width: 130px;
    max-height: 130px;

    @include shadow-big();

    img {
      width: 100%;
      height: auto;
    }
  }

  &-body {
    margin-top: 40px;
  }
}

