// shadow
$shadow-umbra-opacity: 0.2 !default;
$shadow-penumbra-opacity: 0.14 !default;
$shadow-ambient-opacity: 0.12 !default;

// color
$black: #000;
$border-radius: 6px !default;
$gray-dark: rgba($black, 0.87) !default;
$white-color: #fff !default;

$background-color: #E5E5E5 !default;
$font-color: #3C4858 !default;
